extends ../layout

block content
    .panel.panel-default
        .panel-heading
            form.form-horizontal(action="/new", method="POST")
                .form-group
                    .label.col-md-2(for="message")
                    .input-group
                        input#message(name="content", type="text", placeholder="What are you up to today?")
                        input.btn.btn-default(type="submit", value="Go !")
        .panel-body
            ul#messagesList
                if messages.length > 0
                    each message in messages 
                        li
                            |   #{message.user.username} : #{message.content}
                            if message.user._id == user_id
                            a(href='/delete/#{message._id}')
                                | X
                else
                    li Pas de messages dans ce chat ! :(