extends ../layout

block content
    .container
        .row
            form(action="/auth/signup", method="POST")
                input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                input(type='password', name='password' class='form-control', placeholder='Password', required)
                input(type='email', name='email' class='form-control', placeholder='Email', required)
                button(class='btn btn-lg btn-primary btn-block', type='submit') Sign up
            a(href='/auth/login') I already have an account